---
import {
  getCollection,
  CollectionEntry,
  CollectionEntryData,
} from "astro:content";

import Layout from "../layouts/Layout.astro";

import config from "../../assets/config.yml";

import Examples from "../components/examples.vue";
import Top from "../components/top.vue";
import Links from "../components/links.vue";

const examples = await getCollection("examples");

const examplesData = examples.map((example: CollectionEntry) => example.data);

const examplesSorted = examplesData.sort(
  (a: any, b: any) => b.date.getTime() - a.date.getTime()
);
---

<Layout title="Chris Zubak-Skees">
  <main>
    <Top />

    <div class="container">
      <h1>{config.name}</h1>

      <p>{config.chatter}</p>

      <Links links={config.links} />

      <!--
            <p class="emailMeContainer">
                Want to get in touch?&nbsp;&nbsp;
                <a
                    href="mailto:chriszs@gmail.com"
                    class="emailMe"
                ><i class="fa fa-paper-plane" /> Email me</a>
            </p>
            -->
    </div>

    <Examples examples={examplesSorted} />
  </main>
</Layout>

<style>
  h1 {
    margin: 0;
    margin-bottom: 0;
    line-height: 110%;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 15px;
    max-width: 1050px;
    /* max-width: 940px; */
    margin-right: auto;
    margin-left: auto;
    color: rgb(50, 50, 50);
    font-size: 200%;
    text-align: center;
  }

  .container p {
    margin-top: 5px;
    font-size: 80%;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .emailMe {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    padding-right: 10px;
  }

  .emailMeContainer {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0;
  }
</style>
