body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
    margin-bottom: 70px;
}

.top {
    width: 100%;
    height: 750px;
    background-color: #4EFF6E;
}

.container {
    padding-top: 200px;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 200%;
    text-align: center;

    a {
        color: white;
    }
}