body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
    margin-bottom: 70px;
}

.top {
    width: 100%;
    height: 300px;
    background-color: #4EFF6E;
}

.container {
    padding-top: 40px;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 200%;
    text-align: center;

    a {
        color: white;
    }

    a:hover {
        color: rgb(230,230,230);
    }
}

.examples {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    margin-bottom: 40px;
}

.examples:after {
  content: "";
  display: table;
  clear: both;
}

.example {
    display: block;
    width: 300px;
    float: left;
    height: 300px;
    background-size: cover;
    margin-left: 25px;
    margin-top: 25px;
    border: 3px solid rgb(200,200,200);
}

.example:hover {
    border: 3px solid rgb(100,100,100);
}

@media (max-width: 650px) {
    body {
        font-size: 70%;
    }

    .example {
        margin-left: 0;
    }

    .examples {
        padding-right: 0;
        width: 300px;
    }
}
