---
import Example from "./example.astro";

const { examples } = Astro.props;
---

<div class="examples">
  {examples.map((data: any) => <Example {...data} />)}
</div>

<style>
  .examples {
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    padding-top: 15px;
  }

  .examples:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 650px) {
    .examples {
      margin-left: 25px;
      margin-right: 25px;
      /* width: 300px; */
    }
  }
</style>
