---
import "@fontsource-variable/open-sans";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A developer, designer and journalist" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="/favicon.png">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    @import url('../../node_modules/font-awesome/css/font-awesome.min.css');

    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: rgb(241, 240, 239);
    }

    @media (max-width: 650px) {
        body {
            font-size: 70%;
        }
    }
</style>
